{% extends "base_hotel.html" %}
{% block title %}Liste des reservation{% endblock %}
{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}
{% block body %}
<div class="jumbotron">
	<div class="container">
        <div class="row">
            <div class="col-md-9"><h1>Liste des reservation :</h1></div>
            <div class="col-md-3">
                <div class="md-form">
                    <i class="fa fa-search prefix"></i>
                    <input type="text" id="reservation_search" class="form-control">
                    <label for="reservation_search">Chercher</label>
                </div>
            </div>
        </div>
		<table class="table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Type</th>
                        <th>Détails</th>
                        <th>Nombre des personnes</th>
                    </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <th scope="row">{{ reservation[0] }}</th>
                        <td>{{ reservation[2] }}</td>
                        <td>{{ reservation[6] }}</td>
                        <td>{{ reservation[7] }}</td>
                        <td>{% if reservation[3] != None %}{{ reservation[3]|capitalize }}{% else %}{{ "Pas de détails" }}{% endif %}</td>
                        <td>{{ reservation[9] }}</td>
                        <td>
                            <a class="blue-text"><i class="fa fa-user"></i></a>
                            <a class="teal-text" href="#"><i class="fa fa-pencil"></i></a>
                            <a class="red-text"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                {% endfor %}


            
                </tbody>
            </table>            
	</div>
</div>
{% endblock %}
{% block script %}
    <script>
        $("#reservation_search").keyup(function() {
            var value = this.value;

            $("table").find("tr").each(function(index) {
                if (index === 0) return;

                var if_td_has = false; //boolean value to track if td had the entered key
                $(this).find('td').each(function () {
                    if_td_has = if_td_has || $(this).text().indexOf(value) !== -1; //Check if td's text matches key and then use OR to check it for all td's
                });

                $(this).toggle(if_td_has);

            });
        });
    </script>
{% endblock %}